
@media (max-width: 768px) {
  h1 { font-size: 40px; }
  h2 { font-size: 30px; }
  h4, p { font-size: 18px; }
  .about-header, .projects-header, .achievements-header {
    max-width: 90%;
    font-size: 24px;
  }
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 100px;
  font-family: Verdana, sans-serif;
}

h2 {
  font-size: 50px;
  font-family: Verdana, sans-serif;
}

h2[id] {
  scroll-margin-top: 100px;
}

h3 {
  font-size: 30px;
  font-family: Verdana, sans-serif;
}

h4 {
  font-size: 26px;
  font-family: Verdana, sans-serif;
}

p {
  font-size: 20px;
  font-family: Verdana, sans-serif;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  padding-top: 30vh;
  background-image: url("images/bg.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #091024;
  color: #f0e2ff;  /*Text Colour*/
  overflow-x: hidden;
}

header {
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
  transition: all 0.4s ease;
  z-index: 1000;
  overflow: hidden;
}

header.shrink {
  height: 80px;
}

.header-content {
  padding-top: 25vh;
  transition: all 0.4s ease;
}

header.shrink .header-content {
  padding: 10px 20px;
}

header h1 {
  font-size: 100px;
  transition: font-size 0.3s ease, transform 0.3s ease;
}

header.shrink h1 {
  font-size: 20px;
}

header h2 {
  font-size: 32px;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

header.shrink h2 {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

/*Navigation boxes*/

header .nav-inline {
  display: none;
  gap: 15px;
}

header.shrink .nav-inline {
  display: flex;
}

header.shrink .nav-box {
  display: flex;
  align-items: center;
  background-color: #091024;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: bold;
  transition: transform 0.2s ease;
  gap: 12px;
}

header.shrink .nav-box:hover {
  transform: scale(1.05);
}

header.shrink .nav-box a {
  color: #ffffff;
  text-decoration: none;
}

.header-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}




footer {
  background-color: #040917;
  color: #f0e2ff;
  padding: 1rem;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
section {
  padding: 2rem;
}

.section-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}



.about .line-text,
.about p,
.about .hobby-container,
.about .skills-container,
.about ul,
.projects .line-text,
.projects ul {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.achievements .line-text,
.achievements ul {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section-container.visible .about .line-text,
.section-container.visible .about p,
.section-container.visible .about .hobby-container,
.section-container.visible .about .skills-container,
.section-container.visible .about ul,
.section-container.visible .projects .line-text,
.section-container.visible .projects ul {
  opacity: 1;
  transform: translateX(0);
}

.section-container.visible .achievements .line-text,
.section-container.visible .achievements ul {
  opacity: 1;
  transform: translateX(0);
}

.projects-header {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.achievements-header {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section-container.visible .about-header,
.section-container.visible .projects-header {
    opacity: 1;
    transform: translateX(0);
}

.section-container.visible .achievements-header {
    opacity: 1;
    transform: translateX(0);
}



  /*About section*/

.about-container {
  text-align: left;
}

.about-header {
--clip-shape: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);

background: linear-gradient(90deg, #b269ff, #5558ff);
padding: 20px;
font-size: 36px;
color: white;
width: auto;
max-width: 60%;
text-align: center;
margin: 0;
margin-top: 100px;
position: relative;
clip-path: var(--clip-shape);
box-sizing: border-box;
margin-right: auto;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  padding-left: 30px;
}




  /*Achievements Section*/

.achievements-container {
  text-align: right;
}

.achievements-header {
--clip-shape: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);

background: linear-gradient(-90deg, #b269ff, #5558ff);
padding: 20px;
font-size: 36px;
color: white;
width: auto;
max-width: 60%;
text-align: center;
margin: 0;
margin-top: 100px;
position: relative;
clip-path: var(--clip-shape);
box-sizing: border-box;
margin-left: auto;
}

.achievements {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  width: 98%;
}



  /*Projects section*/

  .projects-container {
    text-align: left;
  }
  
  .projects-header {
  --clip-shape: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
  
  background: linear-gradient(90deg, #b269ff, #5558ff);
  padding: 20px;
  font-size: 36px;
  color: white;
  width: auto;
  max-width: 60%;
  text-align: center;
  margin: 0;
  margin-top: 100px;
  position: relative;
  clip-path: var(--clip-shape);
  box-sizing: border-box;
  margin-right: auto;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
    padding-left: 30px;
  }







  /*Line text*/

.line-text {
  position: relative;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  color: #f0e2ff;
  margin: 0;
  margin-top: 60px;
}

.line-text::before, .line-text::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 4px;
  height: 40px;
  background: linear-gradient(0deg, #5f87ff, #8cbbfa);
  transform: translateY(-50%);
}

.line-text::before {
  left: 0;
}

.line-text::after {
  right: 0;
} 


/*Bullet Points*/

/* Left-aligned list */
ul {
  list-style-type: disc;
  padding-left: 20px;
  padding-right: 0;
  font-size: 20px;
  font-family: Verdana, sans-serif;
  text-align: left;
}


li {
  margin-bottom: 10px;
  text-align: left;
}




/*Link Colour stuffs*/

a {
  color: #5f87ff; /* Default color */
  text-decoration: none;
}

a:visited {
  color: #8cbbfa; /* Color after clicked */
}

a:hover {
  color: #1c5dff; /* Color on hover */
}

a:active {
  color: #3a3aff; /* Color when clicking */
}


/* Boxes */
.hobby-container {
display: flex;
flex-wrap: wrap;
gap: 15px;
padding-left: 30px;
margin-top: 20px;
}

.hobby-box {
display: flex;
align-items: center;
background-color: #d1b2ff;
color: #091024;
padding: 10px 20px;
border-radius: 12px;
font-weight: bold;
transition: transform 0.2s ease;
gap: 12px;
}

/* Individual classes for each box's background color */
.hobby-box-satisfactory {
display: flex;
align-items: center;
background-color: #f2e2bc;
color: #091024;
padding: 10px 20px;
border-radius: 12px;
font-weight: bold;
transition: transform 0.2s ease;
gap: 12px;
}

.hobby-box-puzzle {
display: flex;
align-items: center;
background-color: #a8f3d3;
color: #091024;
padding: 10px 20px;
border-radius: 12px;
font-weight: bold;
transition: transform 0.2s ease;
gap: 12px;
}

.hobby-box-sandbox {
display: flex;
align-items: center;
background-color: #cac192;
color: #091024;
padding: 10px 20px;
border-radius: 12px;
font-weight: bold;
transition: transform 0.2s ease;
gap: 12px;
}

.hobby-box-celeste {
display: flex;
align-items: center;
background-color: #e4a7b6;
color: #091024;
padding: 10px 20px;
border-radius: 12px;
font-weight: bold;
transition: transform 0.2s ease;
gap: 12px;
}

.hobby-box img, .hobby-box-satisfactory img, .hobby-box-puzzle img, .hobby-box-celeste img, .hobby-box-sandbox img {
width: 30px;
height: 30px;
object-fit: contain;
}

.hobby-box:hover, .hobby-box-satisfactory:hover, .hobby-box-puzzle:hover, .hobby-box-celeste:hover, .hobby-box-sandbox:hover {
transform: scale(1.05);
}

.hobby-box a, .hobby-box-satisfactory a, .hobby-box-puzzle a, .hobby-box-celeste a, .hobby-box-sandbox a {
color: #091024;
text-decoration: none;
}

.hobby-box:hover a, .hobby-box-satisfactory:hover a, .hobby-box-puzzle:hover a, .hobby-box-celeste:hover a, .hobby-box-sandbox:hover a {
color: #0c142c;
}



/*Coding Languages Boxes Clases*/
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 30px;
  margin-top: 20px;
}

.skill-box {
  display: flex;
  align-items: center;
  background-color: #d1b2ff;
  color: #091024;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: bold;
  transition: transform 0.2s ease;
  gap: 12px;
}

.skill-box img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.skill-box:hover {
  transform: scale(1.05);
}

/*Screen scaling*/

@media (max-width: 768px) {
  .hobby-box, .skill-box {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .hobby-box, .skill-box {
    flex-basis: 100%
  }
}